---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../config";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content={SITE_DESCRIPTION} />
  <title>{SITE_TITLE} - {SITE_DESCRIPTION}</title>

  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <!-- Primary Meta Tags -->
  <title>{SITE_TITLE}</title>
  <meta name="title" content={SITE_TITLE} />
  <meta name="description" content={SITE_DESCRIPTION} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={SITE_TITLE} />
  <meta property="og:description" content={SITE_DESCRIPTION} />
  <!-- <meta property="og:image" content={new URL(image, Astro.url)} /> -->

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={SITE_TITLE} />
  <meta property="twitter:description" content={SITE_DESCRIPTION} />
  <!-- <meta property="twitter:image" content={new URL(image, Astro.url)} /> -->

  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🛠️</text></svg>"
  />

  <script>
    if (
      localStorage.getItem("dark-mode") === "true" ||
      (!("dark-mode" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      localStorage.setItem("dark-mode", "true");
      document.querySelector("html")?.classList.add("dark");
    } else {
      localStorage.setItem("dark-mode", "false");
      document.querySelector("html")?.classList.remove("dark");
    }
  </script>
</head>
