---
import { AppConfig } from "../utils/AppConfig";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostHeader from "../components/PostHeader.astro";
import PostContent from "../components/PostContent.astro";

const { description } = AppConfig;

const { frontmatter } = Astro.props;
---

<BaseLayout head={{ title: frontmatter.title, description }}>
  <div class="my-4 mx-auto w-full max-w-screen-md">
    <PostHeader
      title={frontmatter.title}
      author={frontmatter.author}
      tags={frontmatter.tags}
      minutesRead={frontmatter.minutesRead}
      pubDate={frontmatter.pubDate}
      img={{ src: frontmatter.image.src, alt: frontmatter.image.alt }}
    />
    <PostContent><slot /></PostContent>
  </div>
</BaseLayout>
